@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Play:wght@400;700&display=swap');

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-family: 'Play', sans-serif;
    color: #39b5cb;
    font-size: 7.7vw;
    margin: 8vw 4vw;
}

.banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.banner-item{
    color: #363636;
    background-color: #39b5cb;
    padding: 2vw 3vw;
    font-size: 3vw;
    font-weight: 700;
    border-radius: 100px;
    display: flex;
    justify-content: center;
}