
nav{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background: rgb(57,181,203);
    background: linear-gradient(126deg, rgba(57,181,203,1) 56%, rgba(52,227,206,1) 78%);
    border-radius: 100px;
    width: 80vw;
    position: fixed;
    bottom: 10vw;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}   

.home-button{
    background-color: #363636;
    fill: #39B5CB;
    justify-self: flex-end;
}

.contact-button{
    background-color: #363636;
    fill: #39B5CB;
    justify-self: center;
}

.burger-button{
    background-color: #363636;
    stroke: #34E3CE;
    justify-self: flex-start;
}

.home-button:hover, .contact-button:hover{
    background-color: #34E3CE;
    fill: #363636;
}

.burger-button:hover{
    background-color: #39B5CB;
    stroke: #363636;
    cursor: pointer;
}
.nav-button{
    padding: 1vw;
    border-radius: 100%;
    width: 7vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5vw;
}

.nav-divider{
    background-color: #363636;
    width: 10px;
    transform: skew(30deg);
    justify-self: center;
}

.burger-menu{
    display: none;
    position: fixed;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #363636aa;
}

.link-menu{
    background-color: #39B5CB;
    width: 50%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all ease-in 200ms;
}

.link-menu-visible{
    background-color: #39B5CB;
    width: 50%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    right: 0;
    transition: 200ms ease-in;
}


.link-menu a{
    color: #363636;
    text-decoration: none;
    font-size: 6vw;
    border-bottom: 3px solid #363636;
    text-align: center;
    font-weight: bold;
    padding: 3vw;
}
.link-menu-visible a{
    color: #363636;
    text-decoration: none;
    font-size: 6vw;
    border-bottom: 3px solid #363636;
    text-align: center;
    font-weight: bold;
    padding: 3vw;
}

.link-menu a:hover{
    color: #39B5CB;
    border-color: #363636;
    background-color: #363636;
    
}
.link-menu-visible a:hover{
    color: #39B5CB;
    border-color: #363636;
    background-color: #363636;
    
}
