:root {
  --darkmode: #292929;
  --darkmode-2: #343434;
  --hover-dark: #1d7073;
  --main-color: #10b6bc;
  --hover-light: #83d6d9;
  --lightmode: #f5f5f5;
}


html {
  color-scheme: dark;
  --theme-bg: var(--darkmode);
  --theme-text: var(--darkmode);
  --theme-border: var(--darkmode);
  --theme-toggle-disc: var(--darkmode-2);
  --theme-toggle-icon: var(--main-color);
  --page-pattern: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%2310b6bc' fill-opacity='0.12' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html[data-theme="light"] {
  color-scheme: light;
  --theme-bg: var(--lightmode);
  --theme-text: var(--darkmode);
  --theme-border: var(--lightmode);
  --theme-toggle-disc: #ffffff;
  --theme-toggle-icon: var(--darkmode);
}
