.about-section-desktop{
    background-color: #39b5cb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #363636;
    padding: 2vw 5vw;
}


.skill-container{
    display: inline-flex;
    flex-direction: column;
    margin-top: 2vw;
    padding: 1vw 20vw;
    background-color: #363636;
    box-sizing: border-box;
    width: 100%;
    color: #39b5cb;
    text-align: center;
    border-radius: 10px;
}

h2{
    font-size: 3vw;
    margin: 0;
    font-family: play;
}

.sub-text{
    font-weight: 700;
    font-size: 1.5vw;
    width: 50%;
}


.ui{
    
}

.ui h2{
    font-size: 5vw;
    margin: 2vw;
}
.skill{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    padding-bottom: 10vw;
    
}

.skill-bar{
    background-color: #39b5cb;
    display: flex;
    align-items: center;
    color: #363636;
    padding: 1vw 2vw;
    border-radius: 60px;
    font-size: 2vw;
    width: 80%;
    gap: 1vw;
    font-weight: 700;
}
.title{
    margin: 0;
}
svg{
    height: 2vw;
    width: 2vw;
}

.carousel{
    overflow: hidden;
}

.inner{
    white-space: nowrap;
    transition: transform 0.3s;
}

.tabs{
    display: flex;
    gap: 2vw;
    margin-top: 1vw;
}

.tab{
    background-color: #363636;
    padding: 1vw 3vw;
    border-radius: 50px;
}

.tab:hover{
    cursor: pointer;
}
.activeTab{
    background-color: #34E3CE;
}