@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Play:wght@400;700&display=swap');

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4vw  4vw 4vw;
    z-index: -3;
    min-height: 55vw;
}

.header h1{
    font-family: 'Play', sans-serif;
    color: #39b5cb;
    font-size: 9vw;
}

.seperator-1{
    padding: 0.7vw;
    background-color: #39b5cb;
    transform: skew(-50deg);
    position: relative;
    bottom: 4vw;
}

.lower-header{
    background-color: #34E3CE;
    width: 100%;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
    font-size: 6vw;
    color: #363636;
    margin-top: 4vw;
    opacity: 0;
}

.fade-in{
        animation: fadeInAnimation ease 3s;
        opacity: 1;
}
.headings-mobile{
    margin: 4vw;
    display: none;
}

.headings-desktop{
    display: flex;
    margin: 4vw;
    font-size: 4vw;
    justify-content: space-evenly;
}
.heading-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color: #363636;
    border-radius: 100%;
}

.circle-med{
    width: 20vw;
    height: 20vw;
    background-image: url("../../assets/img/pc_2.jpg");
    background-size: cover;
}

.circle-small{
    width: 10vw;
    height: 10vw;
    align-self: flex-end;
}

.circle-big{
    width: 30vw;
    height: 30vw;
    background-image: url("../../assets/img/pc_1.jpg");
    background-size: cover;
}

.bubble-cont-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

.bubble-cont-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    position: relative;
    right: 8vw;
    top: 6vw;
}

.dropdown-bubble {
    display: flex;
    flex-direction: column;
}

.dropdown-bubble img {
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    display: block;
    border: 5px solid #363636;
}



.pop-text{
    position: absolute;
    top: 72vw;
    background-color: #363636;
    color: #34E3CE;
    border-top: 5px solid #39b5cb;
    font-size: 1vw;
    padding: 1vw;
    width: 8vw;
    min-height: 6vw;
    pointer-events: none;
}

.pop-text-1{
    right: 68vw;
}
.pop-text-2{
    right: 43vw;
}
.pop-text-3{
    right: 14vw;
}
.dropdown-bubble p{
    margin: 0;
}

.hide{
    display: none;
}

.show{
    display: block;
}
figure{
    display: none;
}



@media screen and (max-width: 992px) {
    .lower-header{
        display: grid;
    }
    .headings-desktop{
        display: none;
    }
    .headings-mobile{
        display: block;
    }
    figure{
        display: block;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}