@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Play:wght@400;700&display=swap');

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-family: 'Play', sans-serif;
    color: #39b5cb;
    font-size: 9vw;
    margin: 8vw 4vw;
}

.seperator-1{
    padding: 0.7vw;
    background-color: #39b5cb;
    margin: 0 5vw;
    transform: skew(-50deg);
    position: relative;
    bottom: 4vw;
}

.lower-header{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin: 5vw;
    transform: skew(-5deg);
}

.lower-header img{
    width: 30vw;
}

.seperator-2{
    padding: 2vw;
    background-color: #39b5cb;
    height: 100%;
}