@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Play:wght@400;700&display=swap');

.projects-section{
    margin-top: 20vw;
    margin-bottom: 30vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vw;
    overflow-x: hidden;
}

.project{
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;

}

.project img{
    width: 60vw;
    height: 30vw;
    border: solid 5px #39B5CB;
    transform: skew(-15deg);

}

.link-button{
    background-color: #39B5CB;
    position: relative;
    bottom: 6vw;
    left: 16vw;
    border: none;
    padding: 3vw 8vw;
    background-color: #39B5CB;
    color: #363636;
    font-size: 3vw;
    font-weight: 700;
    font-family: "Play", sans-serif;
}

.link-button:hover{
    cursor: pointer;
}

.link-button:hover ~ .project img{
    transform: skew(15deg);
}

.link-button:hover ~ .navbar-desktop{
    color: red;
}

.slide-in{
    animation: slide-in 2s ease-in;
    opacity: 1;
}


@media screen and (min-width: 992px) {
    .projects-section{
        margin-bottom: 5vw;
  }
}

@keyframes slide-in{
    from {
        transform: translateX(10%);
        opacity: 0;
    }
    
    to {
        transform: translateX(0);
        opacity: 1;
    }
}